# Config
/.* @kurosakishigure
action.yml @kurosakishigure
changelogithub.config.json @kurosakishigure
eslint.config.mts @kurosakishigure
sgconfig.yml @kurosakishigure
tsconfig.json @kurosakishigure

# Dependencies
package.json @kurosakishigure
pnpm-lock.yaml @kurosakishigure

# Documentation
LICENSE @kurosakishigure
README.md @kurosakishigure
